
.hide {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.game-menu {
  $pad : 15px;

  // Position
  position:absolute;
  z-index:3;
  width:calc(100% - 2*#{$pad});
  height:calc(100% - 2*#{$pad});
  top:0;
  left:0;
  padding:$pad;

  // background
  @include to-rgba('background-color', black, 0.7);

  // misc
  pointer-events: none;
  user-select: none;

  // alignement
  display:flex;
  flex-direction: column;
  align-items: center;

  .title {
    width:100%;
    margin-bottom: 30px;
    text-align: center;
    font-size:4.5em;
    color: #eee;
    text-transform: uppercase;
    text-shadow: 0 5px 3px black;
    @include apply-font(900);
  }

  .subtitle {
    text-align: center;
    font-size: 1.5em;
    @include apply-font(400);
    color: #eee;
    text-shadow: 0 2px 3px #000;
  }

  .play {
    width:250px;
    margin:auto;
    text-align: center;
    font-size:9em;
    color: #eee;
    pointer-events: all;
  }

  .press {
    color:$green;
  }
}

.priceTag {
  position:absolute;
  top:0;
  left:0;
  pointer-events: none;
  padding:5px;
  color: black;
  font-size:0.8em;
  @include apply-font();
  background-color: rgba(230, 230, 230, 0.5);
  white-space: nowrap;
}