.game-gui {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events: none;
  display:flex;
  flex-direction: column;
  align-items: center;

  .title {
    width:100%;
    text-align: center;
    margin: 2% 0 2% 0;
    font-size:5em;
    color: #eee;
    text-transform: uppercase;
    text-shadow: 0 8px 3px #000;
    font-family: 'Titillium Web', sans-serif;
    font-weight:900;
    letter-spacing: 4px;
  }

  .subtitle {
    text-align: center;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color: #eee;
    text-shadow: 0 5px 3px #000;
  }

  .play {
    width:250px;
    margin:auto;
    height:80px;
    line-height: 80px;
    text-align: center;
    font-size:9em;
    color: #eee;
    text-shadow: 0 5px 3px #000;
  }
}

.priceTag {
  position:absolute;
  top:0;
  left:0;
  pointer-events: none;
  padding:5px;
  color: black;
  font-size:0.8em;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(230, 230, 230, 0.5);
  white-space: nowrap;
}